<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANxxyZrjRP_WfrzcYMRgIY6FABrCdK3YM</string>
	<key>GCM_SENDER_ID</key>
	<string>757076623560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gfgCollab</string>
	<key>PROJECT_ID</key>
	<string>gfgcollab</string>
	<key>STORAGE_BUCKET</key>
	<string>gfgcollab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757076623560:ios:3c277b7ac89257b32b65fd</string>
</dict>
</plist>